.world{
    transform-style: preserve-3d;
    perspective-origin:center center;
    position: absolute;
    top: 20%;
    transform:rotateY(180deg) translateX(-100px) translateY(15px);
}
.floor{
    position: absolute;
    top: 60px;
    left: 32%;
    transform: rotate3d(0,0,0,45deg);
    transform-style: preserve-3d;
    background-color: black;
    transform-style: preserve-3d;
}
.bloco-arvore,.floor-pt1,.floor-pt2,
.floor-pt3,.floor-pt4,.floor-pt5,.floor-pt6,.map{
    transform-style: preserve-3d;
}
.floor-pt2{
    transform: translate3d(200px,0px,0px);
}
.floor-pt3{
    transform: translate3d(-200px,0px,0px);
}
.floor-pt4{
    transform: translate3d(200px,0px,-280px);
}
.floor-pt5{
    transform: translate3d(-200px,0px,-280px);
}
.floor-pt6{
    transform: translate3d(0px,0px,-280px);
}