body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    background-color: #6d597a 
}
.table{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.line{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
}
article{
    margin: 0.1em;
    padding: 0;
    background-color: rgb(196, 196, 196);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.status{
    margin: 1em;
}
button{
    width: 30em;
    height: 3em;
    background-color: azure;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0.2em 0.3em 0.02em black;
    font-weight: bold;
}
button:hover{
    background-color: green;
}
button:active{
    background-color: red;
    box-shadow: 0px 0em 0.2em 0.02em black;
}
@media screen and (min-width: 0px) {
    h1{
        font-size: 4em;
    }
    article{
        width: 3em;
        height: 3em;
        font-size: 5em;
    }
    button{
        font-size:3em;
        width: 15em;
        height: 1.5em;
    }
    .status{
        font-size: 2em;
    }
}

@media screen and (min-width: 1024px) {
    article{
        width: 2.5em;
        height: 2.5em;
        font-size: 3em;
        
    }
    h1{
        font-size: 2em;
    }
    button{
        font-size:2em;
        width: 12em;
        height: 1.5em;
    }
    .status{
        font-size: 1em;
    }
}